<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1>Welcome</h1>

	<hr/>
	
	<!-- Method 1 -->
	<h3>Snapshot of all stations at a specified time</h3>
	<div>
		<table>
			<tr>
				<td><kbd>Year</kbd><br/><select id="m1_year"><option>2022</option></select></td>
				<td><kbd>Month</kbd><br/><select id="m1_month"><option>11</option><option>12</option></select></td>
				<td><kbd>Day</kbd><br/><select id="m1_day"><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>31</option></select></td>
				<td><kbd>Hour</kbd><br/><select id="m1_hour"><option>00</option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option></select></td>
			</tr>
			<tr>
				<td colspan="20"><button type="button" onclick="method1(this);">Submit</button></td>
			</tr>
			<tr>
				<td colspan="20"><kbd>Result</kbd></td>
			</tr>
			<tr>
				<td id="m1_result" colspan="20"></td>
			</tr>
		</table>
	</div>

	<hr/>

	<!-- Method 2 -->
	<h3>Snapshot of one station at a specific time</h3>
	<div>
		<table>
			<tr>
				<td><kbd>Year</kbd><br/><select id="m2_year"><option>2022</option></select></td>
				<td><kbd>Month</kbd><br/><select id="m2_month"><option>11</option><option>12</option></select></td>
				<td><kbd>Day</kbd><br/><select id="m2_day"><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>31</option></select></td>
				<td><kbd>Hour</kbd><br/><select id="m2_hour"><option>00</option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option></select></td>
				<td><kbd>kioskId</kbd><br/><input type="number" id="m2_id" value="3004" min="3004" max="3296"></td>
			</tr>
			<tr>
				<td colspan="20"><button type="button" onclick="method2(this);">Submit</button></td>
			</tr>
			<tr>
				<td colspan="20"><kbd>Result</kbd></td>
			</tr>
			<tr>
				<td id="m2_result" colspan="20"></td>
			</tr>
		</table>
	</div>

	<hr/>


	<pre id="data_div">
	</pre>

	<script src="js/main.js"></script>
</body>
</html>